<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authorization</title>
    <link rel="stylesheet" href="authorization.css">
    <link rel="stylesheet" href="header.css">

</head>
<body>
<div th:insert="~{header :: siteHeader}"></div>
<div class="form-container">
    <form class="auth-form" action="/authorization" method="post">
        <h2>Authorization</h2>
        <div class="error-message" th:if="${error}" th:text="${error}"></div>
        <input type="text" name="login" placeholder="Login" required th:value="${login}">
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>
